@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import "tailwindcss"; 

@plugin "@tailwindcss/forms";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/components/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../app/Livewire/**/*';

@theme {
    /* Blue - BKK Brand Color */
    --color-bkkBlue-950: #020D31;
    --color-bkkBlue-900: #021245;
    --color-bkkBlue-800: #042181;
    --color-bkkBlue-700: #073AE4;
    --color-bkkBlue-600: #3261F9;
    --color-bkkBlue-500: #698BFA;
    --color-bkkBlue-400: #97AEFC;
    --color-bkkBlue-300: #BCCBFD;
    --color-bkkBlue-200: #D9E2FE;
    --color-bkkBlue-100: #EEF2FE;
    --color-bkkBlue-50: #FBFCFF;

    /* Yellow - BKK Secondary Color */
    --color-bkkYellow-950: #332500;
    --color-bkkYellow-900: #4B3700;
    --color-bkkYellow-800: #926B00;
    --color-bkkYellow-700: #FFBE0A;
    --color-bkkYellow-600: #FFCD44;
    --color-bkkYellow-500: #FFDA75;
    --color-bkkYellow-400: #FFE69F;
    --color-bkkYellow-300: #FFEFC2;
    --color-bkkYellow-200: #FFF6DD;
    --color-bkkYellow-100: #FFFBF0;
    --color-bkkYellow-50: #FFFEFB;

    /* Neutral - BKK Neutral Color */
    --color-bkkNeutral-950: #14181F;
    --color-bkkNeutral-900: #181D25;
    --color-bkkNeutral-800: #232B36;
    --color-bkkNeutral-700: #364153;
    --color-bkkNeutral-600: #596B88;
    --color-bkkNeutral-500: #8091AC;
    --color-bkkNeutral-400: #A7B3C6;
    --color-bkkNeutral-300: #C7CEDA;
    --color-bkkNeutral-200: #DFE4EA;
    --color-bkkNeutral-100: #F1F3F6;
    --color-bkkNeutral-50: #FBFCFD;
}

.fi-sidebar {
    width: 280px;
    background-color: white;
}

.fi-main {
    background-color: #F9FAFB;
}

.fi-sidebar-item-label {
    color : var(--color-bkkNeutral-800);
}

.fi-sidebar-item-icon {
    color: var(--color-bkkNeutral-800) !important;
}

/* ============================================aktif============================================== */


.fi-sidebar-item {
    &.fi-active {
        & > .fi-sidebar-item-btn {
            & > .fi-sidebar-item-label {
                color: white;
            }
        }
    }
}

.fi-sidebar-item {
    &.fi-active {
        & > .fi-sidebar-item-btn {
            background-color: var(--color-bkkBlue-700);
            icon {
                color: white;
            }
        }
    }
}

.fi-sidebar-item.fi-active 
.fi-sidebar-item-icon {
    color: white !important;
}

.fi-sidebar-item {
    position: relative;
}

.fi-sidebar-item.fi-active::before {
    content: "";
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 40px; 
    background-color: var(--color-bkkBlue-700);
    border-radius: 0 8px 8px 0;
    z-index: 10;
}

.fi-sidebar-item:hover:not(.fi-active)::before {
    content: "";
    position: absolute;
    left: -20px; 
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 40px; 
    background-color: var(--color-bkkNeutral-100);
    border-radius: 0 8px 8px 0;
    transition: all 0.2s ease-in-out; 
}


.fi-sidebar-item.fi-active:hover::before {
    background-color: #0000FF;
    height: 40px; 
}